.faq-container {
  /* width: 1900px; */
  background-color: rgba(0, 0, 0, 0.589);
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.404);
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  /* margin: 20px auto; */
  font-family: Arial, sans-serif;
  overflow-y: scroll;
}

.faq-title {
  text-align: center;
  font-size: 36px;
  /* color: green; */
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  background-color: rgba(255, 255, 255, 0.253);
  /* border: 1px solid green; */
  /* border-radius: 10px; */
  padding: 10px;
  margin: 10px;
}

.faq-question {
  font-size: 24px;
  /* color: black; */
  color: white;
  margin-bottom: 10px;
}

.faq-answer {
  font-size: 18px;
  /* color: gray; */
  line-height: 1.5;
}











/* .faq {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq h1 {
    text-align: center;
    color: green;
  }
  
  .faq ul {
    list-style: none;
    padding: 0;
  }
  
  .faq .question {
    display: flex;
    align-items: center;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
  }
  
  .faq .number {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .faq .text {
    font-size: 18px;
  }
  
  .faq .answer {
    background-color: white;
    padding: 10px;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   */